---

# file: tasks/main.yml

- name: EMACS | check current emacs version
  debug:
    msg: "emacs version: {{ ansible_local.emacs.version | default( 0 ) }}"

- name: EMACS | Get EMACS sources
  become: true
  get_url: url="{{ emacs_url }}" dest="{{ emacs_tmp }}" timeout=180 force=no
  when: ( ansible_local.emacs.version | default( 0 ) != emacs_version )
  register: emacs_downloaded

- name: EMACS | Extract EMACS sources
  become: true
  unarchive: src="{{ emacs_tmp }}"
             dest="/tmp"
             creates="{{ emacs_build }}"
             remote_src=yes
  when: emacs_downloaded.changed
  register: emacs_extract

- name: EMACS | make emacs configure file
  ansible.builtin.command:
    cmd:
      ./autogen.sh
    chdir:
      "{{ emacs_build }}"
  when: emacs_downloaded.changed
  register: emacs_autogen

# https://practical.li/blog/posts/build-emacs-from-source-on-ubuntu-linux/
- name: EMACS | configure emacs Makefile
  ansible.builtin.command:
    chdir:
      "{{ emacs_build }}"
    cmd:
      ./configure
      --prefix="{{ emacs_install_dir }}"
      --with-tree-sitter
      --with-native-compilation=aot
      --with-file-notification=inotify
      --with-json
      --without-x-toolkit
      --without-x
  when: emacs_autogen.changed
  register: emacs_configure

- name: EMACS | make emacs
  ansible.builtin.command:
    chdir:
      "{{ emacs_build }}"
    cmd:
      make install
  become: true
  when: emacs_configure.changed
  register: emacs_install

# saw some errors like Unable to change dir before execution, file name is too long
# if make install is executed as a separate passx
# - name: EMACS | install emacs
#   ansible.builtin.command:
#     chdir:
#       "{{ emacs_build }}"
#     cmd:
#       make install
#   become: true
#   when: emacs_build.changed
#   register: emacs_install

- name: EMACS | Create a directory for custom facts /etc/ansible/facts.d
  file:
    path: /etc/ansible/facts.d
    state: directory
    recurse: yes
    mode: '0777'

- name: EMACS | add emacs version customfact into /etc/ansible/facts.d
  action: template src=emacs.fact-template.j2
          dest="/etc/ansible/facts.d/emacs.fact"
          mode=0644
  when: emacs_install.changed
  become: true

- name: EMACS | cleanup tmp
  become: true
  file:
    path: "{{ emacs_tmp }}"
    state: absent
  when: emacs_install.changed
...
