# file: tasks/main.yml

- name: EMACS | get emacs from git repository
  git: repo={{ emacs_repo_url }}
       dest="{{ emacs_tmp }}_{{emacs_version}}"
       version={{ emacs_version }}
       update=no
       force=yes
  ignore_errors: yes
  register: emacs_downloaded

# https://stackoverflow.com/questions/34829765/ansible-git-module-clone-of-repository-while-re-run-is-throwing-exception
- name: EMACS | Only allow the expected failure
  assert:
    that: "not emacs_downloaded_res['failed'] or 'already exists and is not an empty directory' in emacs_downloaded_res['msg'].lower()"

- name: EMACS | make emacs configure file
  command: ./autogen.sh chdir="{{ emacs_tmp }}_{{emacs_version}}"
  when: emacs_downloaded.changed

- name: EMACS | configure emacs Makefile
  command: ./configure --prefix=/usr/local
           --without-makeinfo --with-x-toolkit=no --without-x
           --without-all
           chdir="{{ emacs_tmp }}_{{emacs_version}}"
  when: emacs_downloaded.changed

- name: EMACS | make and install emacs
  command: make install chdir="{{ emacs_tmp }}_{{emacs_version}}"
  become: true
  when: emacs_downloaded.changed
