---

# file: tasks/main.yml

- name: EMACS | Build from source
  block:
    - include_tasks: deps.yml
    - include_tasks: build.yml
  when: emacs_from_sources

- name: EMACS | Install Binary
  ansible.builtin.apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
    when: not emacs_from_sources
    with_items:
      - emacs
...
